@mixin button-style($color) {
 
  color: $color;
  border-color: $color;
  background-color: $color;
  
  &:hover,
  &:focus,
  &:active,
  &:active:hover,
  &:active:focus {
    color: $color;
    border-color:$color;
    background-color:$color;
  }
}
